extends /layout/_base.pug

append vars
  -
    meta = Object.assign(meta, {
      title: "ホーム"
    });

    const leftNavs = [
      { url: '#', label: '特長', },
      { url: '#', label: '得意分野', },
      { url: '#', label: 'メニュー', },
      { url: '#', label: '実績', },
      { url: '#', label: 'ブログ', },
      { url: '#', label: '会社紹介', },
      { url: '#', label: '採用情報', },
    ];

    const rightNavs = [
      { url: '#', label: '会社案内ダウンロード', },
      { url: '#', label: 'お問い合わせ', },
    ];

append head
  link(rel="stylesheet", href="/common/css/home.css")

append body
  header.c-section
    .c-section__inner.-maw_m
      nav.l-header
        .l-header__col
          .l-header__col-inner
            a(href="/").l-header__logo
              img(
                src="https://placehold.jp/78x32.png" alt="ロゴ"
              ).l-header__logo-img

        .l-header__col.-nav
          .l-header__col-inner
            .l-header__navs
              each nav in leftNavs
                - const {url, label} = nav;
                a(href=url).l-header__nav
                  .l-header__nav-inner #{label}

        .l-header__col.-nav
          .l-header__col-inner
            .l-header__navs
              each nav in rightNavs
                - const {url, label} = nav;
                a(href=url).l-header__nav
                  .l-header__nav-inner #{label}

        .l-header__col.-menu
          .l-header__col-inner
            button(type="button")
              span.u-visually-hidden メニュー

        .l-header__drawer
          .l-header__drawer-inner
            -
              const spNavs = [
                {url: '/', label: 'ホーム'}
              ].concat(leftNavs, rightNavs);

            each nav in spNavs
              - const {url, label} = nav;
              a(href=url).l-header__drawer-row
                .l-header__drawer-row-inner #{label}

  main.c-section
    .c-section__inner.-maw_m
      .p-home-top
        .p-home-top__text-box
          .p-home-top__sub-copy こころ 夏目漱石
          .p-home-top__main-copy
            | 私は
            span.u-no-break その人を
            span.u-no-break 常に
            span.u-no-break 先生と
            span.u-no-break 呼んでいた。
          .p-home-top__lead
            .p-home-top__lead-text
              | だからここでもただ先生と書くだけで本名は打ち明けない。
              br
              | これは世間を憚かる遠慮というよりも、
              br
              | その方が私にとって自然だからである。

            .p-home-top__lead-text
              | 私はその人の記憶を呼び起すごとに、
              br
              | すぐ「先生」といいたくなる。筆を執っても心持は同じ事である。
              br
              | よそよそしい頭文字などはとても使う気にならない。

          .p-home-top__button
            a(href="#").c-button
              .c-button__inner
                .c-button__text 私は一人取り残された。

        .p-home-top__img-box
          .p-home-top__img-box-inner
            img.p-home-top__img(
              src="https://placehold.jp/800x600.png"
            )

