extends /layout/_base.pug

append vars
  -
    meta = Object.assign(meta, {
      title: "ホーム"
    });

    const leftNavs = [
      { url: '#', label: '特長', },
      { url: '#', label: '得意分野', },
      { url: '#', label: 'メニュー', },
      { url: '#', label: '実績', },
      { url: '#', label: 'ブログ', },
      { url: '#', label: '会社紹介', },
      { url: '#', label: '採用情報', },
    ];

    const rightNavs = [
      { url: '#', label: '会社案内ダウンロード', },
      { url: '#', label: 'お問い合わせ', },
    ];

append head
  link(rel="stylesheet", href="/common/css/home.css")

append body
  header.c-section.-header
    .c-section__inner.-maw_m
      nav.l-header
        .l-header__col
          .l-header__col-inner
            a(href="/").l-header__logo
              img(
                src="https://placehold.jp/78x32.png" alt="ロゴ"
              ).l-header__logo-img

        .l-header__col.-nav
          .l-header__col-inner
            .l-header__navs
              each nav in leftNavs
                - const {url, label} = nav;
                a(href=url).l-header__nav
                  .l-header__nav-inner #{label}

        .l-header__col.-nav
          .l-header__col-inner
            .l-header__navs
              each nav in rightNavs
                - const {url, label} = nav;
                a(href=url).l-header__nav
                  .l-header__nav-inner #{label}

        .l-header__col.-menu
          .l-header__col-inner
            button(type="button")
              span.u-visually-hidden メニュー

        .l-header__drawer
          .l-header__drawer-inner
            -
              const spNavs = [
                {url: '/', label: 'ホーム'}
              ].concat(leftNavs, rightNavs);

            each nav in spNavs
              - const {url, label} = nav;
              a(href=url).l-header__drawer-row
                .l-header__drawer-row-inner #{label}

  main
    .c-section
      .c-section__inner.-maw_m
        .p-home-top
          .p-home-top__text-box
            .p-home-top__sub-copy こころ 夏目漱石
            .p-home-top__main-copy
              | 私は
              span.u-no-break その人を
              span.u-no-break 常に
              span.u-no-break 先生と
              span.u-no-break 呼んでいた。
            .p-home-top__lead
              .p-home-top__lead-text
                | だからここでもただ先生と書くだけで本名は打ち明けない。
                br
                | これは世間を憚かる遠慮というよりも、
                br
                | その方が私にとって自然だからである。

              .p-home-top__lead-text
                | 私はその人の記憶を呼び起すごとに、
                br
                | すぐ「先生」といいたくなる。筆を執っても心持は同じ事である。
                br
                | よそよそしい頭文字などはとても使う気にならない。

            .p-home-top__button
              a(href="#").c-button
                .c-button__inner
                  .c-button__text 私は一人取り残された。

          .p-home-top__img-box
            .p-home-top__img-box-inner
              img.p-home-top__img(
                src="https://placehold.jp/800x600.png"
              )

    .c-section
      .c-section__inner.-maw_m
        .p-home-reason
          .p-home-reason__bg-box
            img(src="https://placehold.jp/1350x500.png" alt="").p-home-reason__bg
          .p-home-reason__inner
            .p-home-reason__text-box
              .p-home-reason__heading
                | 暑中休暇を
                span.u-no-break 利用して
                span.u-no-break 海水浴に
                span.u-no-break 行った

              .p-home-reason__desc
                p.p-home-reason__sentence
                  | 宿は鎌倉でも辺鄙な方角にあった。玉突きだのアイスクリームだのというハイカラなものには長い畷を一つ越さなければ手が届かなかった。車で行っても二十銭は取られた。けれども個人の別荘はそこここにいくつでも建てられていた。それに海へはごく近いので海水浴をやるには至極便利な地位を占めていた。

                p.p-home-reason__sentence
                  | 私は毎日海へはいりに出掛けた。古い燻ぶり返った藁葺の間を通り抜けて磯へ下りると、この辺にこれほどの都会人種が住んでいるかと思うほど、避暑に来た男や女で砂の上が動いていた。ある時は海の中が銭湯のように黒い頭でごちゃごちゃしている事もあった。その中に知った人を一人ももたない私も、こういう賑やかな景色の中に裹まれて、砂の上に寝そべってみたり、膝頭を波に打たしてそこいらを跳ね廻るのは愉快であった。

    .c-section
      .c-section__inner.-maw_m.-pt_1.-pb_1
        section.p-home-section
          .p-home-heading すぐ私の注意を惹いた
          .p-home-sub-heading.-mt_1 先生と私
          .c-col.-min_300.-gap_1
            .c-col__item hoge
            .c-col__item fuga
            .c-col__item piyo
            .c-col__item hogehoge

        -
          const cases = [
            {label: 'すると彼らは'},
            {label: '私が陸へ上がって'},
            {label: '先生が昨日のように'},
            {label: 'すぐ手拭で頭を包んで'},
            {label: 'それで私の目的は'},
            {label: '比較的広々した所へ来ると'},
            {label: 'すると彼らは'},
            {label: '私が陸へ上がって'},
            {label: '先生が昨日のように'},
            {label: 'すぐ手拭で頭を包んで'},
            {label: 'それで私の目的は'},
            {label: '比較的広々した所へ来ると'},
          ]
        section.p-home-section
          .p-home-heading わざと避けて東京の近くで
          .p-home-sub-heading.-mt_1 せっかく来た私
          .c-col.-min_300.-gap_1
            each the_case in cases
              - const {label} = the_case;
              .c-col__item
                a(href="#").c-img-block
                  img(
                    src="https://placehold.jp/340x170.png"
                    alt=""
                  ).c-img-block__img

                .c-text.u-bold #{label}

                .c-text.-s
                  a(href="#").c-prefix-arrow 詳しく見る

        section.p-home-section
          .p-home-heading 彼は電報を私に見せて
          .p-home-sub-heading.-mt_1 一人ぼっちになった

        section.p-home-section
          .p-home-heading 私がその掛茶屋で
          .p-home-sub-heading.-mt_1 先生を見た時は
