extends /layout/_base.pug

append vars
  -
    meta = Object.assign(meta, {
      title: "ホーム"
    });

    const leftNavs = [
      { url: '#', label: '特長', },
      { url: '#', label: '得意分野', },
      { url: '#', label: 'メニュー', },
      { url: '#', label: '実績', },
      { url: '#', label: 'ブログ', },
      { url: '#', label: '会社紹介', },
      { url: '#', label: '採用情報', },
    ];

    const rightNavs = [
      { url: '#', label: '会社案内ダウンロード', },
      { url: '#', label: 'お問い合わせ', },
    ];

append body
  header.c-section
    .c-section__inner.-maw_m
      nav.l-header
        .l-header__col
          .l-header__col-inner
            a(href="/").l-header__logo
              img(
                src="https://placehold.jp/78x32.png" alt="ロゴ"
              ).l-header__logo-img

        .l-header__col.-nav
          .l-header__col-inner
            .l-header__navs
              each nav in leftNavs
                - const {url, label} = nav;
                a(href=url).l-header__nav
                  .l-header__nav-inner #{label}

        .l-header__col.-nav
          .l-header__col-inner
            .l-header__navs
              each nav in rightNavs
                - const {url, label} = nav;
                a(href=url).l-header__nav
                  .l-header__nav-inner #{label}

        .l-header__col.-menu
          .l-header__col-inner
            button(type="button")
              span.u-visually-hidden メニュー

        .l-header__drawer
          .l-header__drawer-inner
            -
              const spNavs = [
                {url: '/', label: 'ホーム'}
              ].concat(leftNavs, rightNavs);

            each nav in spNavs
              - const {url, label} = nav;
              a(href=url).l-header__drawer-row
                .l-header__drawer-row-inner #{label}

